<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648932038065-9ikatno9nlv9tblc7g7gjemdnlf3lqcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648932038065-9ikatno9nlv9tblc7g7gjemdnlf3lqcg</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ_NnJEZqqlUWbKODYbJkf8z1F-5TkfrE</string>
	<key>GCM_SENDER_ID</key>
	<string>648932038065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>word.tips.wordfinderx</string>
	<key>PROJECT_ID</key>
	<string>wordfinderx</string>
	<key>STORAGE_BUCKET</key>
	<string>wordfinderx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648932038065:ios:fb14077381abe724371990</string>
	<key>DATABASE_URL</key>
	<string>https://wordfinderx.firebaseio.com</string>
</dict>
</plist>